.dot-container {
  width: 43px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #04c09e;
}
