.password__input__container {
  .password__inputs {
    display: flex;
    gap: 10px;
  }
  .password__input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
  }
  .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #04c09e;
  }
}
