.dropdown {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #acacac;
  height: 2.75rem;
  transition: border-color 0.4s;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
}
/* 사파리 지원이 안되던데용, 근데 시멘틱 meaning을 날리기는 싫어서 이렇게 구성했습니다. */
.dropdown,
.dropdown::picker(select) {
  appearance: base-select;
}

.dropdown:hover,
.dropdown:focus {
  border-color: #000;
}

.dropdown option {
  padding: 10px 12px;
  border-radius: 10px;
  transition: background-color 0.2s;
}

.dropdown option:hover,
.dropdown option:focus {
  background-color: #f5f5f5;
}

.dropdown option:checked {
  font-weight: bold;
  background-color: #f0f0f0;
}

.dropdown::picker(select) {
  border: 1px solid #acacac;
  padding: 4px;
  top: calc(anchor(bottom) + 8px);
  left: anchor(0%);
  width: anchor(100%);
  border-radius: 5px;
}
