.wrapper {
  position: relative;
}

.selectBox {
  width: 100%;
  border: 1px solid var(--color-gray-10);
  padding: 8px;
  border-radius: 4px;
  text-align: left;
}

.open {
  border: 1px solid var(--color-black);
}

.selected {
  color: var(--color-black);
}

.unSelected {
  color: var(--color-gray-10);
}

.list {
  position: absolute;
  width: 100%;
  margin: 4px 0 0;
  border: 1px solid var(--color-gray-10);
  border-radius: 4px;
  background-color: var(--color-white);
}

.item {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}
