.container {
  display: flex;
  gap: 9px;
  flex-direction: column;
}

.card {
  display: flex;
  padding: 8px 8px;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto 0 auto;
  background-color: var(--gray-500);
  width: 208px;
  height: 123px;
  border-radius: 5px;
  border: none;
  transition: 0.3s;
  box-shadow: 3px 3px 10px var(--gray-300);
  font-size: 20px;
  background-size: 100% !important;
}

.chip {
  width: 40px;
  height: 29.5px;
  background-image: url('../../../images/cards/chip.png');
  background-size: 100%;
  border-radius: 4px;
  margin-top: 16px;
}

.name-date-container {
  display: flex;
  justify-content: space-between;
  height: 18px;
}

.card-number {
  color: var(--gray-100);
  font-size: 16px;
  line-height: 23px;
  height: 23px;
  text-align: center;
}

.issuer-name,
.owner-name,
.expiration-date {
  color: var(--gray-100);
  font-size: 12px;
  overflow: hidden;
  width: 140px;
  height: 20px;
}

.card-number,
.issuer-name,
.owner-name,
.expiration-date {
  font-weight: 800;
  -webkit-text-stroke: 0.7px black;
  -moz-text-stroke: 0.7px black;
  -ms-text-stroke: 0.7px black;
  paint-order: stroke fill;
}

.expiration-date {
  width: 50px;
  text-align: right;
}

.card-name {
  width: 250px;
  height: 20px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
  color: var(--gray-300);
}

.card-number,
.issuer-name,
.owner-name,
.expiration-date,
.card-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
