// Main Color
$primaryColor: #04c09e;
$secondaryColor: #8ce2d3;

// Background Color
$inputBackgroundColor: #ecebf1;
$inputBoxBackgroundColor: #e5e5e5;
$backDropColor: rgba(0, 0, 0, 0.5);
$sliderBackgroundColor: #fdfdfd;
$cardChipColor: #cbba64;

// Font Color
$placeholderColor: #737373;
$textColor: #383838;
$inputTextColor: #525252;

// Extra Color
$LightColor: #ffffff;
