.color-box-container {
  height: 62px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.color-box {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  cursor: pointer;
}

.selected {
  color: #00bcd4;
  text-decoration: underline;
}

.color-box-text {
  font-size: 12px;
}

.poco-color {
  background: var(--poco-card-color);
}

.jun-color {
  background: var(--jun-card-color);
}

.gongwon-color {
  background: var(--gongwon-card-color);
}

.bran-color {
  background: var(--bran-card-color);
}

.roid-color {
  background: var(--roid-card-color);
}

.dobby-color {
  background: var(--dobby-card-color);
}

.collin-color {
  background: var(--collin-card-color);
}

.sun-color {
  background: var(--sun-card-color);
}
