.color-box-container {
  height: 62px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.color-box {
  width: 37px;
  height: 37px;
  border-radius: 50%;
  cursor: pointer;
}

.selected {
  color: #00bcd4;
  text-decoration: underline;
}

.color-box-text {
  font-size: 12px;
}

.poco-color {
  background: #e24141;
}

.jun-color {
  background: #547ce4;
}

.gongwon-color {
  background: #73bc6d;
}

.bran-color {
  background: #de59b9;
}

.roid-color {
  background: #04c09e;
}

.dobby-color {
  background: #e76e9a;
}

.collin-color {
  background: #f37d3b;
}

.sun-color {
  background: #fbcd58;
}
