.button {
  height: 44px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  width: 100px;
  border: none;
}

.button.l {
  width: 90%;
  max-width: 500px;
}

/* TODO: bottomButton과 겹치는 스타일링. 글로벌로 빼기엔 너무 광범위? */
.button.confirm {
  background-color: black;
  color: white;
}
