.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  background: #ffffff;
  border: 1px solid #bababa;
  border-radius: 50%;
  color: #969696;
}

.mark {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
