.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border: 1px solid var(--gray-6);
  border-radius: 50%;
  color: var(--gray-6);
}

.mark {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}
