input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#root {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  background-color: rgb(243, 243, 243);
  width: 100vw;
  height: 100vh;
}

.app {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  width: 500px;
  min-height: 700px;
  max-height: 900px;
  margin-bottom: 30px;
  border: 2px solid rgba(0, 0, 0, 0.103);
  overflow-y: auto;
}

.app::-webkit-scrollbar {
  width: 10px;
  background-color: inherit;
}
.app::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(191, 217, 214, 0.486);
}
.app::-webkit-scrollbar-track {
  background-color: inherit;
}
