body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1em;
  background-color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  padding: 0;
}

#top {
  width: 600px;
  height: 90vh;
  position: relative;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 1em;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#root {
  overflow: scroll;
  height: 100%;
  padding: 2rem;
  margin: 1rem 0;
}
