.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.sidePanel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 2rem;
  background-color: #e8eeff;
}

.main {
  flex: 0 0 500px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 0 1.5rem;
  overflow-y: auto;
}

.main::-webkit-scrollbar {
  width: 0;
}
