// Background Color
$inputBackgroundColor: #ecebf1;
$inputBoxBackgroundColor: #e5e5e5;
$backDropColor: rgba(0, 0, 0, 0.5);
$primaryColor: #04c09e;

// Font Color
$placeholderColor: #737373;
$textColor: #383838;

// Cards Color
$poccoCardColor: #e24141;
$junCardColor: #547ce4;
$gongwonCardColor: #73bc6d;
$branCardColor: #de59b9;
$roidCardColor: #94dacd;
$dobyCardColor: #e76e9a;
$colinCardColor: #f37d3b;
$sunCardColor: #fbcd58;
