.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70px;
}

.info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  color: var(--grey-400);
}

.children {
  display: flex;
  margin-bottom: 5px;
  gap: 10px;
}
