.item {
  list-style: none;
  font-family: Inter;
  font-size: 14px;
  padding: 7px;
  cursor: pointer;
}

.item:hover {
  background-color: lightgray;
}

.list {
  padding: 5px 0 5px 0;
  width: 398px;
  border-radius: 4px;
  border: 1px solid black;
  margin-top: 5px;
  background-color: white;
  position: relative;
}
