.cardInfo-input {
  border-radius: 2px;
  border: 1.015px solid #acacac;
  padding: 8px;
}
.cardInfo-input::placeholder {
  color: #acacac;
}
.cardInfo-input:focus {
  border:
    1.015px solid,
    black;
}
.cardInfo-input-error {
  border: 1.015px solid #ff3d3d;
}
