.card-preview-container {
  width: 213px;
  height: 133px;
  margin: auto;
  margin-bottom: 10px;

  background: var(--card-color);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);

  border-radius: 5px;
  font-size: small;

  cursor: pointer;
}

.card-preview-chip {
  position: relative;
  left: 14px;
  top: 47px;

  width: 40px;
  height: 26px;

  background: #cbba64;
  border-radius: 4px;
}

.card-preview-number {
  position: relative;
  left: 14px;
  top: 60px;

  color: white;
  height: 15px;
  width: 172px;

  letter-spacing: 2px;
}

.card-preview-name {
  position: relative;
  left: 14px;
  top: 65px;

  display: inline-block;
  width: 150px;
  color: white;
}

.card-preview-expireDate {
  position: relative;
  left: 10px;
  top: 65px;

  display: inline-block;
  width: 35px;
  text-align: right;
  color: white;
}
