.help-box-container {
  position: relative;
}

.help-box {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  border: 1px solid var(--helpbox-border-color);
  color: var(--helpbox-text-color);
  font-size: 20px;
  padding-top: 1px;
  cursor: pointer;
}

.help-box:hover {
  color: white;
  background-color: var(--helpbox-hover-color);
  border: 1px solid white;
}

.help-modal {
  position: absolute;
  padding: 10px 20px;
  width: 200px;
  left: 20px;
  top: 25px;
  background-color: var(--help-modal-color);
  box-shadow: 0px 5px 5px -3px rgba(56, 56, 56, 0.2),
    0px 8px 10px 1px rgba(70, 70, 70, 0.14),
    0px 3px 14px 2px rgba(71, 71, 71, 0.12);
  border-radius: 5px;
  color: #3a3a3abf;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
