{
  "env": {
    "browser": true
  },
  "extends": ["airbnb", "airbnb/hooks", "plugin:prettier/recommended"],
  "plugins": ["prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "no-new": "off",
    "no-alert": "off",
    "no-param-reassign": "off",
    "no-return-assign": "off",
    "import/extensions": "off",
    "import/prefer-default-export": "off",
    "max-depth": ["error", 1],
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/jsx-one-expression-per-line": "off",
    "react/prefer-stateless-function": "off",
    "react/prop-types": "off",
    "react/destructuring-assignment": "off",
    "max-classes-per-file": ["error", 3]
  }
}
