{
  "proseWrap": "never",
  "endOfLine": "auto",
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "singleQuote": true,
  "semi": true,
  "parser": "typescript"
}
