back-arrow {
  position: absolute;
  left: 20px;
  top: 20px;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
    cursor: pointer;
    font-size: 16px;
  }
  img {
    width: 30px;
  }
}