.CreditCardPreview {
  display: flex;
  justify-content: center;
  margin-top: 0.75rem;
}

.CreditCardPreview__Wrapper {
  padding: 0.875em;
  width: 100%;
}

.CreditCardPreview__CardCompany {
  display: inline-block;
  height: 0.625em;
  font-size: 0.625em;
  color: #383838;
  margin-bottom: 2.2em;
}

.CreditCardPreview__IC_Chip {
  width: 40px;
  height: 26px;
  border-radius: 4px;
  background-color: #cbba64;
}

.CreditCardPreview__CardNumber {
  display: flex;
  justify-content: center;
  margin-top: 0.8em;
  height: 0.85em;
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 0.16em;
  color: #525252;
}

.CreditCardPreview__Line {
  margin-top: 0.5em;
  display: flex;
  justify-content: space-between;
}

.CreditCardPreview__OwnerName {
  height: 0.71em;
  font-size: 0.71em;
  font-weight: 600;
  letter-spacing: 0.14em;
  color: #525252;
}

.CreditCardPreview__ExpirationDate {
  height: 0.71em;
  font-size: 0.71em;
  font-weight: 600;
  letter-spacing: 0.14em;
  color: #525252;
}
