.add-card-complete__container {
  min-height: 100vh;
  max-width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-card-complete__title {
  margin-bottom: 7rem;
  font-size: 24px;
  font-weight: 400;
}
