@use "../../assets/scss/index.scss" as *;

.input-box-list {
  &__label {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 7px;
    letter-spacing: -0.085em;
  }

  &__bottom {
    display: inline-flex;
  }

  &__input-box {
    @include plain-input;
    padding: 0;
    width: 43px;
    height: 45px;
    background-color: $inputBackgroundColor;
    border-radius: 7px;
    color: $primaryColor;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    caret-color: $primaryColor;
    &:not(:last-child) {
      margin-right: 7px;
    }
  }

  &__dot {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 45px;

    &:not(:last-child) {
      margin-right: 7px;
    }

    &::before {
      content: "";
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: $primaryColor;
      position: absolute;
    }
  }
}
