.card-add {
  height: 800px;
  display: inline-block;
  max-width: 500px;
  padding: 2rem;

  header {
    display: flex;
    gap: 10px;
    cursor: default;
    margin-bottom: 10px;
    button {
      border: none;
      cursor: pointer;
      background-color: inherit;
      padding: 0;
    }
    p {
      margin: 0;
    }
  }

  .card-add__form {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    gap: 20px;
    padding: 0px 26px 0px 10px;
    height: 90%;
  }

  a {
    text-decoration: none;
  }
}
