.card-add {
  height: 94vh;
  display: inline-block;
  max-width: 500px;
  max-height: 600px;
  padding: 2rem;
  header {
    display: flex;
    gap: 10px;
    cursor: default;
    margin-bottom: 10px;
    button {
      border: none;
      cursor: pointer;
      background-color: inherit;
      padding: 0;
    }
    p {
      margin: 0;
    }
  }

  .card-add__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 0px 26px 0px 10px;
    height: 90%;
    form {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  .next--button {
    display: flex;
    justify-content: end;
    button {
      border: none;
      background-color: inherit;
      color: #04c09e;
      margin-left: auto;
    }
  }
}
