.text-title {
  font-size: 18px;
  font-weight: 700;
  padding: 28px 0 5px 0;
}

.text-subtitle {
  font-size: 12px;
  font-weight: 500;
  padding: 18px 0 8px 0;
}

.text-description {
  font-size: 9.5px;
  font-weight: 500;
  color: var(--color-description);
}

.text-error {
  color: var(--color-error);
  height: 14px;
  display: block;
  font-size: 9.5px;
  margin: 4px 0 0 0;
}
