.AddCompletePage__Text {
  margin: 7rem 0 5rem;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

.AddCompletePage__CreditCardPreview {
  transform: scale(1.4);
}

.CardNicknameForm {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}

.CardNicknameForm__Submit_Button {
  color: #04c09e;
  font-size: 0.875rem;
  text-align: end;
  position: absolute;
  bottom: 1rem;
  right: 0.5rem;
}

.CardNicknameForm__Submit_Button:disabled {
  cursor: default;
  opacity: 0.5;
}
