.next-link {
  font-weight: 700;
  font-size: 14px;
  color: var(--default-text-color);
  cursor: pointer;
  align-self: flex-end;
}

.back-link {
  font-weight: 500;
  font-size: 22px;
  color: var(--header-color);
  cursor: pointer;
}
