.next-link {
  font-weight: 700;
  font-size: 14px;
  color: #04c09e;
  cursor: pointer;
  align-self: flex-end;
}

.back-link {
  font-weight: 500;
  font-size: 22px;
  color: #525252;
  cursor: pointer;
}
