.card-add__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d2d2d2;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  width: 230px;
  height: 150px;
  font-weight: 500;
  font-size: 30px;
  text-decoration: none;
  color: black;
  transition: all ease 0.7s 0s;
  margin-bottom: 100px;
  &:hover {
    transform: scale(1.1);
  }
}
