.card-nick-input-section {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  height: 100%;
  justify-items: center;
}

.card-nick-input-direction {
  font-size: larger;
  grid-row: 3/4;
}

.card-nick-input-next-button-container {
  display: block;
  width: 100%;

  grid-row: -2/-1;
}

.nick-input-section-card-preview {
  grid-row: 4/5;
}
