.input {
  width: 100%;
  height: 100%;
  padding: 0 8px;
  background: var(--background-input);
  border-radius: 8px;
  letter-spacing: 0.05em;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.underlined {
  border-radius: 0;
  background: transparent;
  border-bottom: 1px solid var(--gray-e);
}

.underlined:focus {
  outline: none;
  border-radius: 0;
  border-bottom: 1px solid var(--gray-3);
}
