.customInput {
  border-radius: 5px;
  border: 1px solid #acacac;
  padding: 10px 8px;
  width: 100%;
  outline: none;
}

.customInput:focus {
  border: 1px solid black;
}

.isError {
  border: 1px solid #ff3d3d !important;
}
