.AddCardSuccessPage {
  max-width: 300px;
  width: 100%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 50px;
  height: 500px;
  text-align: center;
  gap: 35px;
  background-color: var(--color-white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.img {
  width: 76px;
  height: 76px;
  top: 188px;
  left: 150px;
}

.description {
  font-size: 25px;
  width: 338px;
  display: flex;
  justify-content: center;
  font-weight: 700;
}

.checkButton-container {
  padding: 18px 0 8px 0;
}

.check-button {
  background-color: var(--color-black);
  color: var(--color-white);
  width: 320px;
  height: 44px;
  top: 414px;
  left: 28px;
  border-radius: 5px;
}
