.input-password {
  width: 45px;
  height: 45px;

  text-align: center;

  margin-right: 2%;
}

.input-box-card-password p:last-child.visible {
  visibility: visible;
}

.input-box-card-password input:disabled {
  background: none;
}
