.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.inputContainer label {
  margin-bottom: 4px;
  color: #525252;
  font-size: 12px;
  font-weight: 600;
}

.subInformation {
  display: flex;
  justify-content: space-between;
}

.characterCounter {
  height: 15px;
  margin-top: 4px;
  font-size: 12px;
  color: #727272;
}

.required {
  color: #ce0000;
}
