.inputContainer {
  display: flex;
  flex-direction: column;
}

.subInformation {
  position: relative;
  margin-top: 4px;
}

.subInformation > * {
  display: inline;
}

.characterCounter {
  position: absolute;
  right: 0;
  height: 15px;
  margin-top: 4px;
  font-size: 12px;
  color: var(--light-gray-3);
}

.required {
  color: var(--red);
}
