.Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Container--gray {
  padding: 1rem 0.8125rem;
  border-radius: 0.4375rem;
  background-color: #ecebf1;
}

.Container--transparent {
  padding: 0.53rem;
  border-bottom: 1.5px solid #737373;
}
