.enter-nickname__page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  max-width: 500px;
  padding: 2rem;
  gap: 40px;

  header {
    margin-top: 30px;
  }

  .enter-nickname__comment {
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: default;
    margin-top: 10px;
    font-size: 10px;
  }

  .enter__button {
    display: flex;
    justify-content: end;
    position: relative;
    top: 380px;
    width: 89%;
    .confirm__button {
      background-color: inherit;
      color: #04c09e;
      border: none;
      cursor: pointer;
    }
  }

  form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.enter-nickname__input {
  width: 150px;
  margin-top: 50px;
  text-align: center;
  border-style: none none solid none;
  &:focus {
    outline: none;
    border-color: rgb(79, 231, 236);
    transform: scale(1.2);
    transition-duration: 0.5s;
  }
}
