.inputWrap {
  display: flex;
  justify-content: space-between;
  width: 100%;

  input {
    width: 20%;
  }
}

@media screen and (max-width: 480px) {
  .inputWrap {
    input {
      width: calc(20% - 0.625rem);
    }
  }
}
