.cardItemContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 155px;
  padding: 15px;
  justify-content: flex-end;
  gap: 12px;

  background-color: #0085ff;
  color: var(--white);
  border-radius: 7px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

.cardIssuer {
  position: absolute;
  top: 15px;
  font-size: 14px;
  font-weight: 500;
}

.cardNumber {
  display: flex;
  width: 100%;
  height: 16px;
  justify-content: space-between;
  font-size: 15px;
  letter-spacing: 3px;
}

.cardNumber > span {
  width: 48px;
  text-align: center;
}

.cardChip {
  width: 40px;
  height: 25px;
  background-color: #cbba64;
  border-radius: 3px;
}

.cardMetaInfo {
  position: relative;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
}

.cardExpirationDate {
  position: absolute;
  right: 0;
}

.bc {
  background: #e13f45;
  color: --var(white);
}

.shinhan {
  background: #1646c3;
  color: --var(white);
}

.kakaobank {
  background: #ffd600;
  color: #282828;
}

.hyundai {
  background: #1e1e1e;
  color: --var(white);
}

.woori {
  background: #0083ca;
  color: --var(white);
}

.lotte {
  background: #b11824;
  color: --var(white);
}

.hana {
  background: #1b9592;
  color: --var(white);
}

.kb {
  background: #776c61;
  color: --var(white);
}
