.container {
  display: flex;
  gap: 9px;
}

.card {
  display: flex;
  padding: 3px 12px;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto 0 auto;
  background-size: 208px 122px;
  background-color: var(--grey-300);
  width: 208px;
  height: 123px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 3px 3px 10px var(--grey-300);
  font-size: 20px;
}

.chip {
  width: 40px;
  height: 30px;
  background-image: url(../../images/cardChip/cardChip.png);
  background-size: contain;
  border-radius: 4px;
}

.word {
  color: var(--grey-100);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-weight: 600;
  font-size: 13px;
  height: 16px;
  align-items: flex-end;
}

.wrap {
  display: flex;
  justify-content: space-between;
  padding: 0 4px 0 2px;
}

.cardNumber {
  color: var(--grey-100);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
  font-weight: 900;
  font-size: large;
  height: 23px;
  letter-spacing: 2px;
}

.cardNumberBox {
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
