:root {
  --BC-card-background: #f04651;
  --shinhan-card-background: #0046ff;
  --kakao-card-background: #ffe600;
  --hyundai-card-background: #000000;
  --woori-card-background: #007bc8;
  --lotte-card-background: #ed1c24;
  --hana-card-background: #009490;
  --kb-card-background: #6a6056;
}

.preview {
  position: relative;
  width: 300px;
  height: 180px;
  background-color: #333333;
  border-radius: 10px;
  box-shadow: 7px 6px 14px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 6px 14px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 6px 14px -6px rgba(0, 0, 0, 0.75);
  color: white;
  font-family: monospace;
  margin: 70px 0;
}

.bc {
  background-color: var(--BC-card-background);
}

.shinhan {
  background-color: var(--shinhan-card-background);
}

.kakao {
  background-color: var(--kakao-card-background);
}

.hyundai {
  background-color: var(--hyundai-card-background);
}

.woori {
  background-color: var(--woori-card-background);
}

.lotte {
  background-color: var(--lotte-card-background);
}

.hana {
  background-color: var(--hana-card-background);
}

.kb {
  background-color: var(--kb-card-background);
}

.magnetic {
  position: absolute;
  width: 50px;
  height: 33px;
  top: 15px;
  left: 20px;
}

.visa {
  position: absolute;
  width: 50px;
  height: 33px;
  top: 15px;
  left: 230px;
}

.cardInfo {
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 25%;
  text-align: center;
}

.cardNumberContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  letter-spacing: 2px;
}

.cardNumberContainer > span {
  text-align: center;
  white-space: pre;
  flex: 1;
}

.date {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-top: 12px;
  font-size: 14px;
}
