.card-layout {
  width: 212px;
  height: 132px;
  background-color: var(--card-background);
  border-radius: 4px;
  position: relative;
  align-self: center;
}

.card-chip {
  width: 36px;
  height: 22px;
  background-color: var(--card-chip);
  border-radius: 4px;
  position: absolute;
  top: 8px;
  left: 12px;
}

.shinhan {
  background-color: #0046ff;
}

.BC {
  background-color: #f04651;
}

.kakao {
  background-color: #ffe600;
}

.hyundai {
  background-color: #000000;
}

.woori {
  background-color: #007bc8;
}

.lotte {
  background-color: #ed1c24;
}

.hana {
  background-color: #009490;
}

.kookmin {
  background-color: #6a6056;
}
