.container {
  position: relative;
  left: 50%;
  width: calc(375px - 40px);
  transform: translateX(-50%);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  font-size: 16px;
}

.header button {
  width: 16px;
  height: 16px;
  padding: 0;
}

.header button:hover:enabled {
  background-color: transparent;
}

.issuerContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 24px;
  column-gap: 16px;
}

@media screen and (max-width: 600px) {
  .container {
    position: relative;
    left: 0;
    width: 100%;
    transform: none;
  }
}
