.CardInfoForm {
  margin-top: 1.5rem;
}

.CardInfoForm > .Label {
  margin-top: 1rem;
}

.CardNumberInput__Separator {
  text-align: center;
  color: #04c09e;
  font-size: 0.75rem;
  width: 1rem;
}

.CardNumberInput__Separator--hidden {
  visibility: hidden;
}

.ExpirationDateInput__Separator {
  color: #737373;
  font-size: 0.75rem;
  text-align: center;
  width: 1rem;
}

.OwnerNameInput__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.OwnerNameInput__Header .Label {
  flex-grow: 2;
}

.OwnerNameInput__Header__Text {
  margin: 0 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: 0.14em;
  text-align: end;
  color: #525252;
  width: 2rem;
}

.SecurityCodeInput__Wrapper {
  display: flex;
  align-items: center;
}

.SecurityCodeInput__GuideImage {
  visibility: hidden;
}

.SecurityCodeInput__Wrapper > .Button:hover ~ .SecurityCodeInput__GuideImage {
  visibility: visible;
}

.CardInfoForm .Button:disabled {
  cursor: default;
  opacity: 0.5;
}
