.CardInfoForm {
  margin-top: 1.5rem;
}

.CardInfoForm > .Label {
  margin-top: 1rem;
}

.CardInfoForm .Dash {
  text-align: center;
  color: #04c09e;
  font-size: 0.75rem;
  width: 1rem;
}

.CardInfoForm .Dash--hidden {
  visibility: hidden;
}

.OwnerNameInput__Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.OwnerNameInput__Header .Label {
  flex-grow: 2;
}

.OwnerNameInput__Header .Text {
  margin: 0 0.25rem;
}

.SecurityCodeInput__Wrapper {
  display: flex;
  align-items: center;
}

.SecurityCodeInput__GuideImage {
  visibility: hidden;
}

.SecurityCodeInput__Wrapper > .Button:hover ~ .SecurityCodeInput__GuideImage {
  visibility: visible;
}
