.modalBackground {
  position: absolute;
  background-color: var(--grey-400);
  opacity: 0.33;
  width: 370px;
  height: 750px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: absolute;
  background-color: var(--white-color);
  width: 370px;
  height: 225px;
  justify-content: space-evenly;
  align-items: space-between;
  border-radius: 10px;
  top: 545px;
  font-size: 11px;
  font-weight: bolder;
}

.cardContainer {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}
