.modalBackground {
  position: absolute;
  background-color: var(--grey-400);
  opacity: 0.33;
  width: 370px;
  height: 750px;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
}

.modalContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  padding: 15px;
  position: absolute;
  background-color: var(--white-color);
  width: 370px;
  height: 225px;
  border-radius: 10px;
  top: 545px;
  font-size: 11px;
  font-weight: bolder;
}
