#root {
  background-color: #f8f8f8;
  width: 100%;
  min-height: 100vh;
}

#app {
  display: flex;
  justify-content: center;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  max-width: 480px;
  min-height: 100vh;
  font-family: 'Noto Sans KR', sans-serif;
}

#app > .inner {
  padding: 5%;
  width: 100%;
}

.form-container {
  padding: 5% 0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

input,
select {
  margin: 0.5rem 0px;
  border: 1px solid #acacac;
  border-radius: 6px;
  padding: 0.5rem;
}
.scr-only {
  position: absolute;
  top: -999px;
  left: -999px;
}
