#root {
  background-color: #f8f8f8;
  width: 100%;
  min-height: 100vh;
}

#app {
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  max-width: var(--layout-max-width);
  height: 100vh;
  scrollbar-color: #d6d6d6 transparent;
  /* TODO: 스크롤바 커스텀*/
}

/* input 커스텀 - Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
select {
  margin: 0.5rem 0px;
  border: 1px solid #acacac;
  border-radius: 6px;
  padding: 0.5rem;
}

.scr-only {
  position: absolute;
  top: -999px;
  left: -999px;
}

a,
a:active,
a:visited,
a:link {
  cursor: pointer; /* 커서 모양을 포인터로 변경 */
  color: inherit; /* 링크 색상을 부모 요소의 색상으로 상속 */
  text-decoration: none; /* 링크에 밑줄 제거 */
}
