#root {
  background-color: #f8f8f8;
  width: 100%;
}

#app {
  display: flex;
  justify-content: center;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  max-width: 480px;
  height: 100vh;
}

#app > .inner {
  padding: 5%;
  width: 100%;
}

.form-container {
  padding: 5% 0;
}
