html {
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
