button {
  cursor: pointer;
}

.button-box {
  width: fit-content;
  text-align: center;
  background-color: white;
  border: 0;
  cursor: pointer;
  color: #04c09e;
}

.button-box:disabled {
  color: rgba(0, 0, 0, 0.4);
  cursor: default;
}

.button-normal {
  width: 100%;
  padding: 10px;
  border: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #04c09e;
  color: #fff;
}

.option-button {
  background-color: red;

  width: 30px;
  height: 30px;

  border-radius: 50%;
}

.button-normal:focus {
  border: 1px solid red;
}
