button {
  border: none;
  cursor: pointer;
}

button:hover {
  filter: brightness(1.2);
}

.button-container {
  padding: 10px;
}

.button-container.right {
  text-align: right;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--blue-600);
  font-size: 15px;
  font-weight: bold;
  color: var(--white);
  transition: background-color 0.2s ease;
}

.button:disabled {
  cursor: default;
  background-color: var(--gray-300);
  filter: brightness(1);
}

.previous-button {
  margin-right: 17px;
  background-color: var(--white);
  font-size: 25px;
  color: var(--gray-800);
}
