.card-button-box {
  display: flex;
  margin: 10px 53px;
  border: none;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.button-box {
  width: fit-content;
  text-align: center;
  position: fixed;
  background-color: white;
  border: 0;
  top: 670px;
  right: 290px;
  cursor: pointer;
}

.button-text {
  color: #04c09e;
}
