.card-box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 30px 0 40px;
}

.empty-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 208px;
  height: 130px;

  font-size: 30px;
  color: #575757;

  background: #e5e5e5;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  user-select: none;
}

.small-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 246px;
  height: 144px;
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  box-shadow: 3px 25px 25px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  overflow: hidden;
  transition: filter 0.3s ease;
}

.small-card.empty {
  filter: grayscale(1);
}

.small-card::before {
  position: absolute;
  content: '';
  display: block;
  width: 40px;
  height: 26px;
  left: 14px;
  top: 45%;
  transform: translateY(-50%);
  background: #cbba64;
  border-radius: 4px;
}

.big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 290px;
  height: 180px;

  background: #94dacd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.big-card__chip {
  width: 55.04px;
  height: 35.77px;

  background: #cbba64;
  border-radius: 4px;

  font-size: 24px;
}

.card-top {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: top;
  padding: 15px 0;
}

.card-bottom {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  letter-spacing: 0.3px;
}

.card-bottom__number {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: left;
}

.card-bottom__info {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.card-text {
  margin: 0 16px;
  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  color: #fff;
}

.card-text.user-name {
  width: 72%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text.expire-date {
  width: 28%;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}

.card-text__big {
  margin: 0 16px;

  font-size: 18px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 400;
}
