:root {
  --text-primary: #383838;
  --text-secondary: #575757;
  --text-white: #f5f5f5;

  --background-input: #ecebf1;
  --background-white: #fff;

  --gray-3: #333;
  --gray-6: #666;
  --gray-e: #eee;
}
