@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  src: url('@assets/fonts/woff-subset/Pretendard-Black.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  src: url('@assets/fonts/woff-subset/Pretendard-ExtraBold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  src: url('@assets/fonts/woff-subset/Pretendard-Bold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  src: url('@assets/fonts/woff-subset/Pretendard-SemiBold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  src: url('@assets/fonts/woff-subset/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  src: url('@assets/fonts/woff-subset/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  src: url('@assets/fonts/woff-subset/Pretendard-Light.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  src: url('@assets/fonts/woff-subset/Pretendard-ExtraLight.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  src: url('@assets/fonts/woff-subset/Pretendard-Thin.subset.woff') format('woff');
}
