@import './card.css';
@import './input.css';
@import './utils.css';

   
@import './card.css';
@import './input.css';
@import './utils.css';

body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}

input {
  font-size: 16px;
}

.root {
  background-color: #fff;
  width: 375px;
  min-width: 375px;
  height: 700px;
  position: relative;
  border-radius: 15px;
}

.app {
  height: 100%;
  padding: 16px 24px;
}

.hide {
  display: none;
}

.page-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #383838;
}

.complete-page-title {
  font-weight: 400;
  font-size: 25px;
  margin: 130px 0 80px 0;
  justify-content: center;
}

nav {
  display: flex;
  align-items: center;
}