.input-container {
  margin: 25px 0;
}

.input-box {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 0.375rem;
  border-radius: 0.25rem;
  gap: 0.45rem;
  color: #d3d3d3;
}

.input-title {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  color: #525252;
}

.input-error-message {
  font-size: 12px;
  color: rgb(246, 112, 112);
  z-index: 2;
}

.input-basic {
  width: 100%;
  height: 45px;
  padding: 0px 10px;
  border: none;
  border-radius: 0.25rem;
  outline: 2px solid transparent;
  outline-offset: 2px;
  text-align: center;
  font-family: 'NanumBarunGothic';
  background-color: #ecebf1;
}

.input-basic[type='password'] {
  font-size: 16px;
}

.input-basic::placeholder {
  color: #999;
}

.input-security-masking {
  padding: 0 12px;
}

.input-security-masking::before {
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  background-color: #999;
  border-radius: 50%;
}

.input-underline {
  align-self: center;
  border: none;
  background: none;
  outline: none;
  padding: 4px 0;
  border-bottom: 1px solid #737373;
  text-align: center;
}

.input-length-text {
  width: 15%;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #666;
  font-size: 12px;
  white-space: nowrap;
}

.input-security-code-tip {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -40px;

  border: 2px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  font-family: '돋움';
  font-weight: bold;
  text-align: center;
  color: #bbb;
}

.input-security-code-tip:hover {
  border-color: #999;
  color: #999;
}

.input-security-code-tip:hover::after {
  position: absolute;
  display: block;
  right: -178px;
  padding: 10px;
  border-radius: 5px;

  font-size: 12px;
  font-weight: normal;
  font-family: 'NanumBarunGothic';
  content: '카드 뒷면의 숫자 3자리입니다.';
  white-space: nowrap;
  background-color: #222;
  color: #fff;
}
