.input-container {
  margin: 18px 0;
  position: relative;
  color: #525252;
}

.password-input + .password-input {
  margin-left: 7px;
}

.card-user-name-length {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: #525252;
}

.input-box {
  display: flex;
  align-items: center;
  margin-top: 0.375rem;
  color: #d3d3d3;
  border-radius: 0.25rem;
  background-color: #ecebf1;
}

.input-container-top {
  font-size: 12px;
  margin-bottom: 4px;
}

.input-title {
  font-size: 12px;
  line-height: 14px;

  margin-right: 10px;
}

.input-basic {
  background-color: #ecebf1;
  height: 45px;
  width: 100%;
  text-align: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border: none;
  border-radius: 0.25rem;
  color: #525252;
  font-weight: 500;
  font-size: 18px;
}

.input-underline {
  text-align: center;
  border: none;
  background: none;
  outline: none;

  margin: 16px 0;
  padding: 4px 0;

  border-bottom: 1px solid #383838;
}

.cvc-container {
  position: relative;
  display: inline-block;
}

.cvc-guide {
  border: 1px solid #bababa;
  color: #bababa;
  border-radius: 50%;
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  display: inline-block;
  margin-left: 11px;
  font-weight: 700;
  font-size: 20px;
  padding-left: 2px;
  cursor: pointer;
}

.cvc-image {
  position: absolute;
  top: -30px;
  left: 70px;
  width: 160px;
}

.rest-password-box {
  background-color: white;
}

.card-number-delimiter {
  color: #525252;
}

.expired-date-delimiter {
  color: #737373;
}

.message {
  font-size: 12px;
  font-weight: 700;
}

.success-message {
  color: #78e08f;
}

.fail-message {
  color: tomato;
}
