.input-container {
  position: relative;
  margin: 16px 0;
}

.input-box {
  display: flex;
  align-items: center;
  margin-top: 0.375rem;
  color: #d3d3d3;
  border-radius: 0.25rem;

  gap: 10px;
}

.input-title {
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 14px;

  margin-bottom: 4px;

  color: #525252;
}

.input-basic {
  background-color: #ecebf1;
  height: 45px;
  width: 100%;
  text-align: center;
  border-color: #9ca3af;
  border: none;
  border-radius: 0.25rem;
}

.input-underline {
  text-align: center;
  border: none;
  background: none;
  outline: none;

  margin: 16px 0;
  padding: 4px 0;

  border-bottom: 1px solid #383838;
}

.inputted-password {
  width: 100%;
  text-align: center;
  color: #04c09e;
}

.help-content {
  border: 1px solid #bababa;
  border-radius: 100%;
  width: 32px;
  text-align: center;
  padding-left: 1px;
  padding-top: 1px;
}

.help-content-text {
  color: #04c09e;
  font-size: 12px;
  text-align: center;
  width: 200px;

  animation: show 0.5s ease-in;
}

input.error {
  border: 1px solid red;
  outline: 1px solid red;
}

.scroll-form {
  height: 300px;
  overflow-y: scroll;
}
