* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

input {
  border: none;
  background: transparent;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

ul,
ol,
li {
  list-style: none;
}
