@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');

body {
  font-family: 'Pretendard Variable', Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI',
    'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  font-size: 16px;
}

.text-title {
  font-size: 16px;
  line-height: 19px;
  color: #383838;
}

.text-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #575757;
}

.text-card-number {
  font-size: 13px;
}

.text-card-detail {
  font-size: 11px;
}
