.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-30 {
  margin-top: 7.5rem;
}

.mt-40 {
  margin-top: 9rem;
}

.mt-50 {
  margin-top: 11.5rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-15 {
  width: 15%;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: absolute;
}

.position-fixed {
  position: absolute;
}

.clickable-box {
  cursor: pointer;
}

.filled-page {
  width: 100%;
  height: 80%;
}

.tab-box {
  width: 300px;
  height: 300px;
  background-color: #94dacd;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  opacity: 0.7;
}

.tab-box:hover {
  background-color: #94dacd;
  opacity: 0.9;
}

.scroll-wrapper {
  overflow-x: scroll;
  height: 80%;
}
