.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.cardName {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-gray-1);
  text-align: center;
}

.emptyListMessage {
  padding: 36px 0;
  font-size: 14px;
  color: #575757;
  text-align: center;
}
