:root {
  --slight-bright-red: #ff3939;
}

.info {
  display: flex;
  justify-content: space-between;
  color: var(--gray-400);
}

.error-message {
  height: 15px;
  color: var(--slight-bright-red);
}

.children {
  height: 45px;
  display: flex;
  gap: 10px;
}
