.color {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
  border: none;
  cursor: pointer;

  .circle {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
  }
  .name {
    color: #525252;
  }
  &:hover {
    .name {
      animation-name: colorChange;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
    @keyframes colorChange {
      0% {
        color: white;
      }
      50% {
        color: black;
      }
    }
  }
}
