.input-box-card-owner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.input-box-card-owner p:last-child {
  margin-left: 2%;
  color: red;
  font-weight: bold;
  visibility: hidden;
  grid-column: 1/3;
}

.input-box-card-owner p:nth-child(2) {
  text-align: right;
  font-weight: bold;
}

.input-box-card-owner p:last-child.visible {
  visibility: visible;
}

.input-card-owner {
  grid-column: 1/3;
  width: 100%;
}
