.inputBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.inputBox p:last-child {
  margin-left: 2%;
  color: red;
  font-weight: bold;
  visibility: hidden;
  grid-column: 1/3;
}

.inputBox p:nth-child(2) {
  text-align: right;
  font-weight: bold;
}

.inputBox p:last-child.visible {
  visibility: visible;
}

.input {
  grid-column: 1/3;
  width: 100%;

  text-align: left;
  letter-spacing: normal;

  padding-left: 3%;
}
