@use "../../assets/scss/index.scss" as *;

.seperated-input-list {
  display: inline-flex;
  flex-direction: column;

  &__label {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 7px;
    letter-spacing: -0.085em;
  }

  &__input-wrapper {
    width: 100%;
    background-color: $inputBackgroundColor;
    padding: 10px 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $primaryColor;
    border-radius: 7px;
    border: none;
    transition: box-shadow 0.5s;
    letter-spacing: -0.085em;

    &:focus-within {
      @include shadow-2;
    }
  }

  &__input-separator {
    display: inline-block;
    width: 6px;
    height: 2.2px;
    background-color: $primaryColor;
  }

  &__input {
    @include plain-input;
    position: relative;
    top: -2px;
    width: 50px;
    height: 30px;
    color: $primaryColor;
    font-size: 20px;
    font-weight: 500;
    &:not(:last-child) {
      margin-right: 2px;
    }
    &:not(:first-child) {
      margin-left: 2px;
    }
    text-align: center;

    &--dot {
      position: relative;
      top: 1px;
      display: flex;
      font-size: 28px;
      letter-spacing: -1px;
    }
  }
}
