.container {
  background: transparent;
  border: none;
  z-index: 10000;
  width: 100%;
  height: 100%;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background: rgba(0, 0, 0, 0.15);

  cursor: pointer;
}

.content {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  padding: 36px 16px;
  padding-bottom: 48px;

  background-color: var(--white);

  border: none;
  outline: 0;
}

@media screen and (max-width: 600px) {
  .content {
    width: calc(100% - 40px);
    margin: 20px;
    padding-top: 24px;
    padding-bottom: 24px;

    border-radius: 8px;
  }
}
