.border-input {
  background: none;
  border: none;
  border-bottom: 1.5px solid #737373;
  font-size: 16px;
  // TODO: textColor scss/variables.scss
  color: #383838;
  line-height: 21px;
  text-align: center;

  &:focus {
    outline: none;
  }
}
