.previewCard {
  margin: 0 auto;
  width: 100%;
  max-width: 26.5625rem;
  height: 16.5625rem;
  background-color: #333333;
  padding: 1.25rem 1.5rem;
  border-radius: 4px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
}

.previewHeader {
  display: flex;
  justify-content: space-between;
  height: 67.5px;
}

.chip {
  width: 3.75rem;
  height: 2.8125rem;
  background-color: #ddcd78;
  border-radius: 4px;
}

.cardNumber {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: clamp(18px, 5vw, 25px);
  font-weight: 500;
  height: 25px;
}

.cardNumber > span {
  letter-spacing: 4px;
  width: 65px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dots {
  display: flex;
  gap: 0.65rem;
  align-items: center;
  justify-content: center;
  width: 65px;
}

.expire {
  color: #fff;
  font-size: clamp(18px, 5vw, 25px);
  font-weight: 500;
  letter-spacing: 3px;
  height: 25px;
  padding: 0 0.25rem;
}

.expire > span {
  display: inline-block;
  width: 30px;
}

.expire > span:nth-child(2) {
  width: auto;
  padding-right: 0.25rem;
}
