@use "../../assets/scss/index.scss" as *;

.add-card-page {
  &__header {
    position: fixed;
    background-color: $LightColor;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 36px;
  }

  &__main {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    margin-bottom: 27px;
  }

  &__bottom {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 0px 10px 10px 0px;
  }
}
