.container {
  display: flex;
  flex-direction: column;
  width: 213px;
  height: 133px;
  background: #333;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 11px 14px;
  color: #fff;
}

.cardCompany {
  height: 14px;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.085em;
}

.container > svg {
  margin-top: 22px;
}

.cardNumber {
  display: flex;
  column-gap: 10px;
  height: 16px;
  margin: 10px 0 8px;
}

.detailContainer {
  display: flex;
  justify-content: space-between;
}

.number {
  width: 36px;
  letter-spacing: 0.2em;
}

.password {
  width: 42px;
  letter-spacing: -0.2em;
}
