@use "../../assets/scss/index.scss" as *;

.card-wrapper {
  display: inline-block;
}

.card {
  width: $cardWidth;
  min-height: $cardMinHeight;
  display: flex;
  flex-direction: column;
  padding: 15px 17px;
  border-radius: 5px;
  @include shadow-1;
  transition: all 1s;

  &:hover {
    transform: translate(-3px, -3px);
    @include shadow-1-hover;
  }

  &.card--clickable {
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }

  &__type {
    color: $textColor;
    font-size: 11.5px;
    line-height: 12px;
    font-weight: 600;
    margin-bottom: 23px;
  }

  &__chip {
    width: 42px;
    height: 27px;
    background-color: $cardChipColor;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  &__number {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    margin-bottom: 16px;
  }

  &__number-digits {
    color: $inputTextColor;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
  }

  &__number-dots {
    display: flex;
    align-items: center;
    color: $inputTextColor;
  }

  &__number-dot {
    width: 5px;
    height: 5px;
    background-color: $inputTextColor;
    border-radius: 50%;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    color: $inputTextColor;
    font-size: 15px;
    font-weight: bold;
  }
}

.card-nickname {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 10px;
  color: $inputTextColor;
}
