@use "../../assets/scss/index.scss" as *;

.card-wrapper {
  display: inline-block;
}

.card {
  width: $cardWidth;
  min-height: $cardMinHeight;
  display: flex;
  flex-direction: column;
  padding: 15px 17px;
  border-radius: 5px;
  @include shadow-1;
  transition: all 1s;

  &:hover {
    transform: translate(-3px, -3px);
    @include shadow-1-hover;
  }

  &__type {
    color: $textColor;
    font-size: 11.5px;
    line-height: 12px;
    font-weight: 600;
    margin-bottom: 23px;
  }

  &__chip {
    width: 42px;
    height: 27px;
    background-color: $cardChipColor;
    border-radius: 4px;
    margin-bottom: 15px;
  }

  &__number {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    margin-bottom: 12px;
  }

  &__number-input {
    @include plain-input;
    width: 40px;
    height: 12px;
    color: $inputTextColor;
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    &--invisible {
      width: 47px;
      text-align: center;
    }
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    padding: 0 4px;
    color: $inputTextColor;
    font-size: 15px;
    font-weight: bold;
  }
}

.card-nickname {
  display: block;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  margin-top: 10px;
  color: $inputTextColor;
}
