.card {
  width: 212px;
  height: 132px;
  border-radius: 4px;
  background: var(--color-black);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.numberWrapper {
  padding: 0 25px 12px 17px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.chipWrapper {
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
}

.cardLogo {
  width: 36px;
  height: 22px;
  border-radius: 4px;
}

.chip {
  width: 36px;
  height: 22px;
  border-radius: 4px;
  background-color: #ddcd78;
}

.cardNumberWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.cardNumber {
  color: var(--color-white);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2.24px;
}

.dotWrapper {
  display: flex;
  gap: 4px;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: white;
}
