.card-normal {
  width: 213px;
  height: 133px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding: 10px 18px;
  box-sizing: border-box;
  font-size: 14px;
}

.card-large {
  width: 293px;
  height: 183px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  padding: 10px 18px;
  box-sizing: border-box;
  font-size: 16px;
}

.card__company-name {
  height: 10%;
  color: #383838;
  font-weight: 500;
  font-size: 60%;
}

.card__chip {
  width: 25%;
  height: 26%;
  background-color: #cbba64;
  border-radius: 10%;
  margin: 12% 0 8%;
}

svg {
  border-radius: 10%;
}

.card__card-number {
  width: 4%;
  color: #525252;
  font-weight: 500;
}

.card__chip-line {
  stroke: #8a7a2b;
  stroke-width: 2%;
  fill: 0;
}

.card__card-number-container {
  height: 14%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4%;
}

.card__card-number {
  display: inline-block;
}

.card__card-number:nth-child(4n + 1):not(:first-child) {
  margin-left: 6%;
}

.dot {
  background-color: #525252;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin-left: 2%;
}

.card__card-detail-container {
  display: flex;
  justify-content: space-between;
  height: 15%;
}

.card__user-name {
  overflow: hidden;
  color: #525252;
  font-weight: 500;
  word-break: break-all;
  margin-right: 0.75rem;
  text-transform: uppercase;
}

.card__expiration-date {
  color: #525252;
  font-weight: 500;
}
