.Card {
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.Card--chip {
  width: 40px;
  height: 26px;
  border-radius: 4px;
}

.Card--small {
  width: 208px;
  height: 123px;
}

.Card--medium {
  width: 213px;
  height: 133px;
}

.Card--large {
  width: 293.08px;
  height: 183px;
}

.Card--shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}
