@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInWrapper {
  animation: slideFadeIn 0.5s ease-out;
}

form {
  padding-bottom: 60px;
}
