.back-button {
  background-color: white;
  border: none;
  border-radius: 8px;
}

.back-button:hover {
  cursor: pointer;
  background-color: #ecebf1;
}

.add-card-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
