.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.text {
  font-size: 25px;
  font-weight: 700;
  color: #000;
  text-align: center;
}

.checkIcon {
  width: 76px;
  height: 76px;
}
