.container {
  width: 100%;
  display: flex;
  gap: 8px;
  border: 1px solid #d6d6d6;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.container:focus-within {
  border-color: #8dc9ff;
  box-shadow: 0 0 0 3px rgba(141, 201, 255, 0.4);
}

.container input {
  text-align: center;
  border: none !important;
  box-shadow: none !important;
}

/* .container input:focus {
  box-shadow: none;
} */
