.symbolInfo {
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
}

.symbolInfo.is-full {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center; 
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.symbol {
  display: inline-block;
}

.content {
  padding-top: 35px;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
}

.description {
  padding-top: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  color: #8C8C8C;
}

.action {
  padding-top: 35px;
}