.form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 40px;
}

label {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 14px;
}

.inputContainer {
  display: flex;
  align-items: center;
  height: 45px;
  margin-top: 8px;
  background: var(--background-input);
  border: none;
  border-radius: 8px;
  text-align: center;
}

.inputContainer > input {
  height: 100%;
  padding: 0 8px;
  text-align: center;
  background: transparent;
  border: none;
  border-radius: 8px;
  letter-spacing: 0.05em;
}

.inputContainer > input[type='text'] {
  border: none;
}

.inputContainer > input[type='password'] {
  letter-spacing: 0.2em;
}

.inputContainer > input[type='password']::placeholder {
  letter-spacing: 0.05em;
}

.cardNumber {
  justify-content: center;
  width: 318px;
}

.cardNumber > input {
  width: 50px;
}

.expirationDate {
  justify-content: center;
  width: 137px;
}

.expirationDate > input {
  width: 40px;
}

.ownerName {
  width: 318px;
}

.ownerName > input {
  width: 100%;
  text-align: left;
}

.ownerNameLength {
  position: absolute;
  top: 0;
  right: 0;
}

.cvcContainer {
  display: flex;
  align-items: center;
  column-gap: 13px;
}

.cvc {
  width: 84px;
}

.cvc > input {
  width: 100%;
}

.cardPassword {
  width: 174px;
  background: var(--background-white);
}

.cardPassword > * + * {
  margin-left: 8px;
}

.cardPassword > input {
  width: 25%;
  background: var(--background-input);
}

.cardPassword > p {
  font-size: 30px;
}

.submitButton {
  height: 34px;
  margin-left: auto;
}

.submitButton > button {
  width: 50px;
  height: 100%;
  font-weight: 500;
  background: transparent;
  border: none;
}
