.Modal {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.25s ease;
  z-index: 3;
  align-items: center;
  justify-content: center;
}

.Modal--open {
  opacity: 1;
  visibility: visible;
}

.Modal__ViewPort {
  position: relative;
  width: 375px;
  height: 701px;
}

.Modal__Content {
  transition: top 0.25s ease;
  margin: auto;
  overflow: auto;
  background: #fff;
  border-radius: 5px;
}
