.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 315px;
  margin: 20px auto;
  gap: 45px;
  height: 100vh;
}

.description {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
}
