.inputSection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputSection:not(:last-child) {
  margin-bottom: 1.5rem;
}

.title {
  margin-bottom: 0.25rem;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.6287rem;
}

.subtitle {
  margin-bottom: 0.25rem;
  color: #8b95a1;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.875rem;
}
