.button-box {
  width: 100%;
  text-align: right;
}

.button-text {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  color: #04c09e;
}

.prev-page-button {
  font-size: 20px;
  cursor: pointer;
}

.next-page-button {
  cursor: pointer;
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
}
