:root {
  --card-color: #333333;
  --card-ic-chip-color: #cbba64;
  --input-background: #ecebf1;
  --input-text: #525252;
  --security-code-button-border: #bababa;
  --security-code-button-text: #969696;
}
