:root {
  --card-color: #333333;
  --add-card-color: #e5e5e5;
  --card-ic-chip-color: #cbba64;
  --input-background: #ecebf1;
  --input-text: #525252;
  --security-code-button-border: #bababa;
  --security-code-button-text: #969696;
  --bc-card-co-color: #C03841,
  --hana-card-co-color: #009490;
  --hyundai-card-co-color: #000000;
  --kakao-card-co-color: #FFE600;
  --kb-card-co-color: #685E54;
  --lotte-card-co-color: #ED1C24;
  --shinhan-card-co-color: #0046FF;
  --woori-card-co-color: #007BC8;
}


