.page-title {
  margin-left: 18px;
  font-weight: 500;
  font-size: 20px;
  line-height: 22px;
  display: inline;
  color: #383838;
}

.notice-message {
  font-size: 24px;
  text-align: center;
  font-weight: lighter;
  margin: 133px 0 77px;
}