.flip {
  width: 213px;
  height: 133px;
  animation-name: view;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
}

@keyframes view {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.4s;
  transform-style: preserve-3d;
  z-index: 1;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  width: 100%;
  background-color: #333333;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  transform: perspective(600px) rotateY(180deg);
}

.front {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background-color: #333333;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.card-back-track-1 {
  width: 100%;
  background-color: #000000;
  margin-top: 5%;
  padding: 0;
  height: 20%;
}

.card-back-track-2 {
  display: flex;
  justify-content: space-around;
}

.card-back-track-3 {
  display: flex;
  justify-content: space-around;
}

.flip:hover .card {
  transform: perspective(600px) rotateY(180deg);
}

.card-track-1 {
  height: 33px;
  padding: 14px 0 0 10px;
}

.ic-chip {
  width: 40px;
  height: 26px;
  margin-left: 14px;
  background-color: #cbba64;
  border-radius: 4px;
}

.card-track-3 {
  padding: 7px 14px;
  display: flex;
  justify-content: space-between;
}

.card-track-4 {
  padding: 0px 14px;
  display: flex;
  margin-bottom: 13px;
  justify-content: space-between;
}

.card-track-3 span {
  letter-spacing: 1px;
}

.card-owner-view {
  width: 50px;
  text-overflow: ellipsis;
}
