.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 213px;
  height: 133px;
  background-color: #333333;
  border-radius: 5px;
  color: white;
  font-size: 12px;
  font-weight: 500;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.card-track-1 {
  height: 33px;
  padding: 14px 0 0 10px;
}

.card-type {
}

.ic-chip {
  width: 40px;
  height: 26px;
  margin-left: 14px;
  background-color: #cbba64;
  border-radius: 4px;
}

.card-track-3 {
  padding: 7px 14px;
  display: flex;
  justify-content: space-between;
}

.card-track-4 {
  padding: 0px 14px;
  display: flex;
  margin-bottom: 13px;
  justify-content: space-between;
}

.card-track-3 span {
  letter-spacing: 1px;
}

.card-owner-view {
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
