.card {
  width: 212px;
  height: 132px;
  padding: 10px;
  border-radius: 5px;
  color: white;
}

.basic {
  background-color: black;
}
.cardData {
  margin: 4px;
}
.cardNumber {
  display: flex;
  gap: 5px;
  margin-bottom: 8px;
}

.chip {
  width: 36px;
  height: 22px;
  background-color: #ddcd78;
  border-radius: 3px;
}

.cardNetwork {
  width: 36px;
  height: 22px;
  border-radius: 3px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
}
