.card-select-modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.35);
}

.card-select-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  top: 60%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
}

.card-select-line {
  display: flex;
  justify-content: space-around;
}

.card-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
