.cvc-info-box {
  display: none;
  position: absolute;
  border: 1px solid black;
  width: 80px;
  padding: 5px;
  top: 1px;
  left: 150px;
  font-size: 10px;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none solid rgb(34, 34, 34);
}

.cvc-info-box::after {
  display: block;
  border-top: 10px solid #484848;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
}

.cvc-info-button:hover + .cvc-info-box {
  display: block;
  animation: draw 1s ease;
}
@keyframes draw {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
