.cvc-info-box {
  display: none;
  position: absolute;
  border: 1px solid black;
  top: 1px;
  left: 140px;
  font-size: 10px;
}

.cvc-info-box::after {
  display: block;
}

.cvc-info-button:hover + .cvc-info-box {
  display: block;
}
