.add-card-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.add-card-submit {
  display: flex;
  flex-direction: row-reverse;
}

.card-owner-container-header {
  display: flex;
  justify-content: space-between;
}

.card-security-code-box {
  display: flex;
}

.card-security-code-box button {
  position: relative;
  top: 10px;
  height: 27px;
  width: 27px;
  border: 0;
  padding: 0;
  margin-left: 14px;
  background-color: white;
  cursor: pointer;
}

.card-security-code-box img {
  height: 27px;
  width: 27px;
}

.card-password-input-box {
  display: flex;
}

.card-password-container img {
  height: 45px;
  width: 45px;
}

.add-card-submit button {
  background-color: white;
  color: black;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}
