.add-card-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}
.add-card-submit {
  display: flex;
  flex-direction: row-reverse;
}

.card-owner-container-header {
  display: flex;
  justify-content: space-between;
}
