.input-password-container {
  margin-right: 10px;
}

.input-password {
  display: block;
  background-color: #ecebf1;
  border: none;
  border-radius: 7px;
  font-weight: 500px;
  font-size: 18px;
  height: 45px;
  text-align: center;
}
