.password-cvc {
  display: block;
  background-color: #ecebf1;
  border: none;
  border-radius: 7px;
  font-weight: 500px;
  font-size: 18px;
  height: 45px;
  text-align: center;
  width: 84px;
  margin-right: 10px;
}

.password-single {
  display: block;
  background-color: #ecebf1;
  border: none;
  border-radius: 7px;
  font-weight: 500px;
  font-size: 18px;
  height: 45px;
  text-align: center;
  width: 45px;
  margin-right: 10px;
}
