.ListPage {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.ListPage__Heading {
  padding: 1.8rem 2.25rem;
}

.List {
  width: 95%;
  list-style-type: none;
  align-self: center;
  padding: 0;
  margin: 0;
  max-height: calc(100% - 5.5rem);
  overflow: auto;
}

.ListItem__Card {
  transform: scale(0.95);
  margin: 1.5rem 0 0.5rem;
}

.ListItem__Card__Nickname {
  margin: 0.25rem 0 0.5rem;
  display: flex;
  justify-content: center;
  color: #575757;
  font-weight: 600;
}

.ListItem__Add {
  display: flex;
  justify-content: center;
  transform: scale(0.95);
  margin: 1.5rem 0 0.5rem;
  padding: 0;
}

.ListItem__Add__Button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: inherit;
  cursor: pointer;
}

.ListItem__Add__Sign {
  width: 100%;
  font-size: 1.875rem;
  text-align: center;
}
