@use "../../assets/scss/index.scss" as *;

.circle-button {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin-bottom: 14px;

  &:hover {
    .circle-button__circle {
      opacity: 0.7;
    }
  }

  &__circle {
    display: inline-block;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: opacity 0.5s;
  }

  &__text {
    position: absolute;
    width: 70px;
    top: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: $inputTextColor;
  }
}
