input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-basic {
  background-color: var(--input-color);
  width: 100%;
  text-align: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: var(--input-border-color);
  border: none;
  border-radius: 0.25rem;
  color: var(--default-text-color);
  font-size: 18px;
}

.input-basic::placeholder {
  font-size: 16px;
}

.input-box {
  display: flex;
  height: 45px;
  align-items: center;
  margin-top: 0.375rem;
  color: #d3d3d3;
  border-radius: 0.25rem;
  background-color: var(--input-color);
}

.connector {
  color: var(--default-text-color);
  font-size: 18px;
}

.default-input {
  width: 318px;
}

.expire-date-input {
  width: 137px;
}

.security-code-input {
  width: 84px;
}

.card-password-input {
  width: 43px;
}
