.add-card-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-label {
  color: #525252;
  font-size: 12px;
}

.input-element {
  height: 47px;
  font-size: 18px;
}

.add-card-submit {
  display: flex;
  flex-direction: row-reverse;
}

.card-number {
  width: 50px;
  text-align: center;
  border: none;
  background-color: #ecebf1;
}

.add-card-submit button {
  background-color: white;
  color: black;
  border: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  cursor: pointer;
}

.password-single {
  display: block;
  background-color: #ecebf1;
  border: none;
  border-radius: 7px;
  font-weight: 500px;
  font-size: 18px;
  height: 45px;
  text-align: center;
  width: 45px;
  margin-right: 10px;
}
