.card-owner-input-container {
  margin-top: 20px;
}

.card-owner-input-container-header {
  display: flex;
  justify-content: space-between;
}

.card-owner {
  display: block;
  border: none;
  background-color: #ecebf1;
  width: 308px;
  padding-left: 10px;
  border-radius: 7px;
}
