.card-security-code-box {
  position: relative;
  display: flex;
}

.card-security-code-box button {
  position: relative;
  top: 10px;
  height: 27px;
  width: 27px;
  border: 0;
  padding: 0;
  margin-left: 14px;
  background-color: white;
  cursor: pointer;
}

.card-security-code-box img {
  height: 27px;
  width: 27px;
}

.cvc-info-box {
  display: none;
  position: absolute;
  border: 1px solid black;
  top: 1px;
  left: 140px;
  font-size: 10px;
}

.cvc-info-box::after {
  display: none;
}

.cvc-info-button:hover + .cvc-info-box {
  display: block;
}

.password-cvc {
  display: block;
  background-color: #ecebf1;
  border: none;
  border-radius: 7px;
  font-size: 18px;
  height: 45px;
  text-align: center;
  width: 84px;
  margin-right: 10px;
}
