.button-box {
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background: none;
  font-weight: bold;

  cursor: pointer;
}

.card-change-button {
  position: absolute;
  right: -15px;
  bottom: 0;

  width: 55px;
  height: 36px;
  background-color: #a3a1a1;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  font-size: 12px;
  color: #e3dede;
}

.card-add-button {
  position: absolute;
  top: 60px;
  font-size: 90px;
  font-weight: 500;
}

.card-delete-button {
  position: absolute;

  top: 0;
  right: 35px;

  padding: 0;
  font-size: 20px;
  font-weight: 500;
}

.hide {
  display: none;
}
