.card-box {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px 0;
}

.empty-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 208px;
  height: 130px;

  font-size: 30px;
  color: #575757;

  background: #e5e5e5;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  user-select: none;

  padding: 4px 8px 14px;
}

.small-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 208px;
  height: 130px;

  background: #94dacd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.small-card__chip {
  width: 40px;
  height: 26px;
  left: 95px;
  top: 122px;

  background: #cbba64;
  border-radius: 4px;
}

.big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 290px;
  height: 180px;

  background: #94dacd;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.big-card__chip {
  width: 55px;
  height: 35px;

  background: #cbba64;
  border-radius: 4px;

  font-size: 24px;
}

.card-top {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.card-middle {
  width: 100%;
  height: 100%;
  margin-left: 30px;

  display: flex;
  align-items: center;
}

.card-bottom {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-bottom__number {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;

  justify-content: space-around;
}

.card-bottom__info {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.card-text {
  margin: 0 7px;

  font-size: 14px;
  line-height: 16px;
  vertical-align: middle;
  font-weight: 400;
}

.card-text__control {
  width: 130px;
  overflow: hidden;
}

.card-text__default {
  width: 30px;
  letter-spacing: 2px;
  margin: 0;
}

.card-text__privacy {
  letter-spacing: -4px;
}

.card-text__big {
  margin: 0 16px;

  font-size: 18px;
  line-height: 20px;
  vertical-align: middle;
  font-weight: 400;
}
