@import './card.css';
@import './input.css';
@import './button.css';
@import './utils.css';
@import './helper.css';

body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #e5e5e5;
}

input {
  font-size: 16px;
}

#root {
  background-color: #fff;
  width: 375px;
  min-width: 375px;
  height: 700px;
  position: relative;
  border-radius: 15px;
}
