@import 'card.css';
@import 'input.css';
@import 'button.css';
@import 'modal.css';
@import 'utils.css';
@import 'tooltip.css';
@import 'palette.css';

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #dddddd;
  margin-top: 30px;

  font-family: 'Roboto', sans-serif;
}

h1 {
  text-align: center;
}

input {
  font-size: 16px;
}

.root {
  width: 375px;
  height: 700px;

  position: relative;

  border-radius: 15px;
  background-color: #fff;
}

.app {
  height: 100%;
  padding: 16px 24px;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-bottom: 20px;
}

.page-title {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 22px;

  color: #383838;
}
