.input-container {
  margin: 16px 0;
}

.input-box {
  display: flex;
  align-items: center;
  gap: 7px;

  position: relative;

  margin-top: 0.375rem;
  color: #d3d3d3;
  border-radius: 7px;
}

.input-title {
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 14px;

  margin-bottom: 4px;

  color: #525252;
}

.input-basic {
  width: 100%;
  height: 45px;

  background-color: #ecebf1;
  text-align: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: #9ca3af;
  border: none;
  border-radius: 7px;

  padding: 0 12px;
}

.input-underline {
  text-align: center;
  border: none;
  background: none;
  outline: none;

  margin: 16px 0;
  padding: 4px 0;

  border-bottom: 1px solid #383838;
}

.input-disabled {
  background: none;
}

.owner-name-length {
  position: absolute;
  top: -20px;
  right: 0;

  font-size: 12px;
  color: #525252;
}
