.font-red {
  color: #e24141;
}

.font-blue {
  color: #547ce4;
}

.font-green {
  color: #73bc6d;
}

.font-hot-pink {
  color: #de59b9;
}

.font-mint {
  color: #04c09e;
}

.font-pink {
  color: #e76e9a;
}

.font-orange {
  color: #f37d3b;
}

.font-yellow {
  color: #fbcd58;
}

.font-default {
  color: white;
}

.bg-red {
  background-color: #e24141;
}

.bg-blue {
  background-color: #547ce4;
}

.bg-green {
  background-color: #73bc6d;
}

.bg-hot-pink {
  background-color: #de59b9;
}

.bg-mint {
  background-color: #04c09e;
}

.bg-pink {
  background-color: #e76e9a;
}

.bg-orange {
  background-color: #f37d3b;
}

.bg-yellow {
  background-color: #fbcd58;
}
