.tooltip {
  position: relative;
}

.tooltip-content {
  min-width: 200px;

  position: absolute;
  left: -5px;
  bottom: 30px;

  padding: 15px;
  background: #696868db;
  border-radius: 15px;
  color: white;
  font-size: 13px;
  line-height: 1.4;
  white-space: pre-wrap;
}
