.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.tracking-wide {
  letter-spacing: 2px;
}

.right-bottom-edge {
  position: absolute;
  right: 24px;
  bottom: 16px;
}

.mt-10 {
  margin-top: 2.5rem;
}

.mt-20 {
  margin-top: 5rem;
}

.mt-30 {
  margin-top: 7.5rem;
}

.mt-40 {
  margin-top: 9rem;
}

.mt-50 {
  margin-top: 11.5rem;
}

.mr-n15 {
  margin-right: -15px;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-15 {
  width: 15%;
}

.w-5 {
  width: 5%;
}
