.form {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  height: calc(100vh - 210px - 3rem - 1px);
  padding: 1.5rem 0 4rem;
  border-top: 1px solid #d4d4d4;
  overflow-y: auto;
  position: relative;
}

.form::-webkit-scrollbar {
  width: 0;
}

.submitButtonContainer {
  background-color: #fff;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 500px;
  z-index: 999;
  display: flex;
  justify-content: center;
}

.submitButton {
  color: #f3f3f3;
  background-color: #007bff;
  padding: 1rem 0;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: 1px;
  width: 450px;
  margin: 0 auto 0.75rem;
  border-radius: 8px;
}
