.confirm-add {
  background-color: white;
  padding: 5%;
  display: flex;
  flex-direction: column;
  cursor: default;

  .title {
    color: #5b2ddd;
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 10px;
    transform: translateX(-10px);
  }

  .subtitle {
    font-size: 1.2rem;
    margin-top: 7px;
  }
  .content {
    padding-left: 10px;
    opacity: 0.7;
    .dot {
      display: inline-block;
      margin: 0 10px;
      transform: scale(2) translateY(-5%);
    }
  }
  .button--container {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
  }
  .confirm--button {
    border: none;
    border-radius: 10px;
    width: 30%;
    padding: 5px;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    &.pink {
      background-color: #ff85a2;
    }
    &.blue {
      background-color: #759cff;
    }
    &:hover {
      opacity: 0.7;
    }
  }
  animation: risingUp 0.2s linear;
  @keyframes risingUp {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
  }

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
