.deemer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;

  max-width: 550px;
  .modal--contents {
    width: 100%;

    max-width: 550px;
    position: fixed;
    bottom: 0;
  }
}
