.container {
  display: flex;
  flex-direction: column;
}

.input {
  height: 45px;
  background: #ecebf1;
  border: none;
  border-radius: 7px;
  text-align: center;
}

.x-small {
  width: 43px;
}

.small {
  width: 84px;
}

.medium {
  width: 137px;
}

.large {
  width: 318px;
}
