.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
  height: 80px;
}

.expireDateInputContainer {
  display: flex;
  gap: 0.62rem;
}

.expireDateInputBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.errorMessage {
  color: #ff3d3d;
  font-family: "Noto Sans KR";
  font-size: 0.75rem;
}
