.submitButton {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 50%;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  border-radius: 2px;
  z-index: 100;
  bottom: 0;
  padding: 10px;
  transform: translateX(-50%);
}
