.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  width: fit-content;
  height: 100%;
  margin: auto;
}

.message {
  font-size: 25px;
  font-weight: 700;
  line-height: 36.2px;
  text-align: center;
}
