.container {
  padding: 20px 36px 40px;
}

.header {
  height: 64px;
}

.subTitle {
  text-align: center;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 9px;
  row-gap: 46px;
}
