.input__contents {
  font-size: 18px;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  color: #04c09e;
  &::placeholder {
    font-size: 15px;
    text-align: center;
  }
}
