.previewCreditCardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 78px;
  margin-bottom: 46px;
}

.textFieldContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
