.card-number__input__container {
  width: 320px;
}
.input__container--inputs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  background-color: #ecebf1;
  border-radius: 7px;
  border: none;
  height: 45px;
}
