.secure__input__container {
  display: grid;
  width: 50%;
  max-width: 150px;
  grid-template-areas:
    "il il il"
    "ic ic hb";
  .input__label {
    grid-area: il;
  }
  .input__container--inputs {
    grid-area: ic;
  }
  .help--button {
    margin: auto 25px;
    background-color: inherit;
    grid-area: hb;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #bababa;
    color: #969696;
    cursor: pointer;
  }
}
