* {
  margin: 0;
}

.background {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px;
}

.layout {
  width: 80%;
  max-width: 400px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizon__gap__container {
  display: flex;
  gap: 10px;
  width: 100%;
}

.error_message {
  font-size: 9.5px;
  font-weight: 400;
  line-height: 13.76px;
  text-align: left;
  color: #ff3d3d;
  padding: 6px 0px;
}

.label {
  padding: 3px 0px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
}
