.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: auto;
  max-width: 400px;
}

.label {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.inputContainer {
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.input {
  width: 100%;
  padding: 10px 10px;
  border: 1px solid #acacac;
  border-radius: 5px;
}

.input:focus {
  outline: 1px solid black;
}

.helperText {
  color: red;
  font-size: 15px;
}

.errorInput:focus {
  outline: 1px solid red;
}
