:root {
  --grey: #acacac;
  --grey-2: #4f4f4f;
  --black: #000000;
  --white: #ffffff;
  --red: #ff3d3d;
  --gold: #ddcd78;

  --lotte: #f04651;
  --shinhan: #0046ff;
  --kakao: #ffe600;
  --hyundai: #000000;
  --woori: #007bc8;
  --hana: #009490;
  --kb: #6a6056;
}
