:root {
  --color-grey-100: #ffffff;
  --color-grey-200: #acacac;
  --color-grey-300: #8b95a1;
  --color-grey-400: #0a0d13;
  --color-grey-500: #000000;

  --color-red: #ff3d3d;
  --color-primitive: #333;

  /* CardPreview */
  --color-card-bg: var(--color-primitive);
  --color-card-bg-back: #d5d5d5;
  --color-card-chip: #ddcd78;
  --color-card-bg-cvc: #cbba64;

  /* Card Issuer Brand Colors */
  --color-bc: #f04651;
  --color-shinhan: #0046ff;
  --color-kakao: #ffe600;
  --color-hyundai: #000000;
  --color-woori: #007bc8;
  --color-lotte: #ed1c24;
  --color-hana: #009490;
  --color-kookmin: #6a6056;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ul,
li {
  list-style: none;
} */

html,
body {
  width: 100%;
  height: 100%;

  font-family: sans-serif;
  font-size: 16px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  min-width: 0;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  outline: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.app {
  width: 100%;
  height: 100%;
}
