html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  outline: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 500;
}

ul {
  list-style: none;
}

input {
  border: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.align-self-center {
  align-self: center;
}

.hidden {
  opacity: 0;
}

.w-100 {
  width: 100%;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.bg-transparent {
  background-color: transparent;
}

.bg-color-white {
  background-color: #ffffff;
}

.bg-color-gray-100 {
  background-color: #e5e5e5;
}

.px-1 {
  padding-right: 0.25rem;
  padding-left: 0.25rem;
}

.px-5 {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

header {
  height: 72px;
  z-index: 10;
}

.shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.card {
  width: 213px;
  height: 133px;
  border-radius: 5px;
  font-size: 14px;
}

.overflow-y {
  overflow-y: auto;
}

.contents {
  padding: 100px 28px 72px;
  margin: 0;
  height: 100%;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.mb-10 {
  margin-bottom: 2.5rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.mt-5 {
  margin-top: 1.25rem;
}

.mt-10 {
  margin-top: 2.5rem;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-700 {
  font-weight: 700;
}

.font-color-gray-700 {
  color: #383838;
}

.font-color-gray-500 {
  color: #575757;
}

.text-l {
  font-size: large;
}

.text-xl {
  font-size: x-large;
}

.text-xxl {
  font-size: xx-large;
}

.text-center {
  text-align: center;
}

.bottom-right-button {
  position: absolute;
  bottom: 18px;
  right: 28px;
}

.relative {
  position: relative;
}

.ml-1 {
  margin-left: 0.25rem;
}

.ml-3 {
  margin-left: 0.75rem;
}
