@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  padding: 22px 28px;
  min-width: 375px;
  position: relative;
  margin: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  padding: 0px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

ul {
  list-style: none;
  padding: 0;
}
