* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-family: 'Fira Mono', monospace;
}

#root {
  height: 100vh;
  background-color: #c2c2c2;
  padding: 40px;
}

#card-form {
  background-color: #ffffff;
}

#card-register-form input.touched:invalid {
  background-color: rgb(242, 161, 161);
}

#card-register-confirm-form {
  input:focus {
    outline: none;
  }
  input.touched:invalid {
    border-bottom: 3px solid rgb(239, 128, 128);
  }  
}