:root {
  --color-yellow: #ddcd78;
  --color-black: #333333;
  --color-gray: #8b95a1;
  --color-white: #ffffff;
  --color-red: #ff3d3d;

  --font-size-header: 18px;
  --font-size-body: 11px;
  --font-size-caption: 9.5px;

  --font-weight-header: bold;
  --font-weight-body: normal;
  --font-weight-caption: normal;
}
