.tx-xl {
  font-size: 24px;
  font-weight: 700;
}

.tx-lg {
  font-size: 18px;
  font-weight: 500;
}

.tx-md {
  font-size: 14px;
  font-weight: 400;
}

.tx-sm {
  font-size: 10px;
  font-weight: 400;
}
