.container {
  position: absolute;
  top: 110px;
  width: 100%;
  border: 1px solid var(--grey);
  border-radius: 4px;
  color: var(--grey);
  background-color: var(--white);
  box-sizing: border-box;
}

.item {
  padding: 8px 10px;
  &:hover {
    background-color: var(--light-grey);
  }
}
