@import './variables';
@import './spacing';
@import './typhography';
@import './flex';
@import './components/helptip';

* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-family: 'Fira Mono', monospace;
}

#root {
  height: 100vh;
  background-color: #c2c2c2;
  padding: 40px;
}

#card-form {
  background-color: #ffffff;
}
