.label {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 14px;
}

.inputContainer {
  display: flex;
  align-items: center;
  height: 45px;
  margin-top: 8px;
  background: var(--background-input);
  border-radius: 8px;
}

.inputContainer.error {
  border: 2px solid var(--error-primary);
}

.inputContainer > input {
  flex: 1 1;
}

.inputContainer > p {
  flex: 1 1;
  width: 100%;
  font-size: 24px;
}

.inputContainer > input[type='password'] {
  letter-spacing: 0.2em;
}

.inputContainer > input[type='password']::placeholder {
  letter-spacing: 0.05em;
}

.inputContainer.fit {
  width: 100%;
}

.inputContainer.medium {
  width: 50%;
}

.inputContainer.small {
  width: 25%;
}

.split {
  padding: 0;
  column-gap: 10px;
  background: var(--background-white);
}

.valueLength {
  position: absolute;
  top: 0;
  right: 0;
}

.tooltipContainer {
  position: absolute;
  top: 35%;
}

.tooltipContainer.small {
  left: 30%;
}

.tooltipContainer.medium {
  left: 55%;
}

.tooltipContainer.fit {
  right: 0;
}

.errorMessage {
  height: 24px;
  line-height: 24px;
  color: var(--error-primary);
}
