.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  background: #fff;
  color: #000;
  font-size: 4rem;
  font-weight: 300;
  line-height: 5rem;
}

.box {
  width: 390px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title div {
  animation: glitch 1s linear infinite;
  position: relative;
}

@keyframes glitch {
  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%,
  60% {
    transform: translate(-4px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(20deg);
  }
}

.title div::before,
.title div::after {
  content: attr(title);
  position: absolute;
  left: 0;
  top: 0;
}

.title div::before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
  2%,
  64% {
    transform: translate(4px, -4px);
  }
  4%,
  60% {
    transform: translate(-4px, 4px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.title div::after {
  animation: glitchBottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom {
  2%,
  64% {
    transform: translate(-2px, 0);
  }
  4%,
  60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  & p {
    color: #fff;
  }
}
