.navigation-button {
  display: inline-flex;
  padding: 7px 0px;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.5s;

  &:hover {
    opacity: 0.5;
  }

  &__icon {
    margin-right: 18px;
  }

  &__text {
    padding-top: 2px;
  }
}
