:root {
  --transparent-black-color: #00000030;
}

.container {
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0 30px 30px 30px;
  transform: translateY(-100%);
}

.button {
  font-size: medium;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

.button:disabled {
  color: var(--transparent-black-color);
  cursor: not-allowed;
}
