:root {
  --transparent-black-color: #00000030;
}

.container {
  display: flex;
  justify-content: flex-end;
}

.button {
  font-size: medium;
  font-weight: 600;
  background: none;
  border: none;
  cursor: pointer;
}

.button:disabled {
  color: var(--transparent-black-color);
  cursor: not-allowed;
}
