.unknown {
  background-color: #333333;
}
.bc {
  background-color: #f04651;
}
.shinhan {
  background-color: #0046ff;
}
.kakaobank {
  background-color: #ffe600;
}
.hyundai {
  background-color: #000000;
}
.woori {
  background-color: #007bc8;
}
.lotte {
  background-color: #ed1c24;
}
.hana {
  background-color: #009490;
}
.kookmin {
  background-color: #6a6056;
}
