.unknown {
  background-color: #333333;
}
.red {
  background-color: #f04651;
}
.blue {
  background-color: #0046ff;
}
.yellow {
  background-color: #ffe600;
}
.black {
  background-color: #000000;
}
.sky {
  background-color: #007bc8;
}
.orange {
  background-color: #ed1c24;
}
.teal {
  background-color: #009490;
}
.gray {
  background-color: #6a6056;
}
