.input-box-expiration-date p:last-child {
  margin-left: 2%;
  color: red;
  font-weight: bold;
  visibility: hidden;
}

.input-box-expiration-date p:last-child.visible {
  visibility: visible;
}

.input-expiration-date {
  width: 40%;
}
