@import "../../../style/palette.css";

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3%;

  min-width: 375px;
}

.form p {
  color: var(--input-text);
  font-size: 12px;
}

.nextButton {
  width: 30%;

  margin-left: auto;
  margin-right: 0;

  text-align: right;
}
