@import "../../../style/palette.css";

.form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3%;

  min-width: 375px;
}

.form p {
  color: var(--input-text);
  font-size: 12px;
}

.companySelectButton {
  margin: 0 auto;
  width: 150px;
}

.nextButton {
  margin-left: auto;
  margin-right: 0;
}
