.basic {
  border: 1px solid #acacac;
  &:focus {
    outline: none;
    border: 2px solid black;
  }
}

.error {
  border: 1px solid red;
  &:focus {
    outline: none;
    border: 2px solid red;
  }
}

.input {
  height: 32px;
  color: black;
  font-size: 16px;
  min-width: 0;
  border-radius: 5px;
  flex-grow: 1;

  &::placeholder {
    color: #acacac;
  }
}

.select {
  /* ///.input 포함 */
  height: 38px;
  color: black;
  font-size: 16px;
  min-width: 0;
  border-radius: 5px;
  flex-grow: 1;
}

