.cardFrontside {
  box-sizing: border-box;
  padding: 0.5rem 0.75rem;
  height: inherit;
}
.top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.875rem;
  width: 100%;

  img {
    border-radius: 0.3125rem;
    width: 2.25rem;
    height: 1.375rem;
  }
}

.info {
  width: 100%;
  color: #ffff;
  font-size: 0.875rem;
  & > div {
    margin-top: 0.875rem;
    height: 0.875rem;
  }
}
.cardCompany {
  height: 0.875rem;
}

.cardNumber {
  span {
    display: inline-block;
    width: 25%;
  }
  span:nth-child(3),
  span:nth-child(4) {
    font-size: 1rem;
    text-align: center;
  }
}
.periodAndName {
  display: flex;
  justify-content: space-between;
}
.period {
  margin-top: 0;
  span {
    display: inline-block;
    width: 20px;
    text-align: center;
  }
  span:nth-child(2) {
    width: 0.625rem;
  }
}

.user {
  margin-top: 0;
  width: 50%;
  overflow: hidden;
  text-overflow: ellipsis;
}
