.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.completeIcon {
  width: 70px;
  margin-bottom: 20px;
}

.registerCardText {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 40px;
}
